// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { VoiceConversationsSocket } from "./Socket";

export declare namespace VoiceConversationsClient {
    export type Options = BaseClientOptions;

    export interface ConnectArgs {
        version?: string;
        Authorization: string;
        /** WebSocket subprotocols to use for the connection. */
        protocols?: string | string[];
        /** Additional query parameters to send with the websocket connect request. */
        queryParams?: Record<string, unknown>;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
        /** The timeout for establishing the WebSocket connection in seconds. */
        connectionTimeoutInSeconds?: number;
        /** A signal to abort the WebSocket connection. */
        abortSignal?: AbortSignal;
    }
}

export class VoiceConversationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VoiceConversationsClient.Options>;

    constructor(options: VoiceConversationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public async connect(args: VoiceConversationsClient.ConnectArgs): Promise<VoiceConversationsSocket> {
        const {
            version,
            protocols,
            queryParams,
            headers,
            debug,
            reconnectAttempts,
            connectionTimeoutInSeconds,
            abortSignal,
        } = args;
        const _queryParams: Record<string, unknown> = {
            version,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: Record<string, unknown> = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: args.Authorization }),
            headers,
        );
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MavenAGIEnvironment.Production,
                "/v1/voice/conversations",
            ),
            protocols: protocols ?? [],
            queryParameters: { ..._queryParams, ...queryParams },
            headers: _headers,
            options: {
                debug: debug ?? false,
                maxRetries: reconnectAttempts ?? 30,
                connectionTimeout: connectionTimeoutInSeconds != null ? connectionTimeoutInSeconds * 1000 : undefined,
            },
            abortSignal: abortSignal,
        });
        return new VoiceConversationsSocket({ socket });
    }
}
