// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { WebsocketsSocket } from "./Socket";

export declare namespace Websockets {
    export interface Options extends BaseClientOptions {}

    export interface ConnectArgs {
        version?: string | undefined;
        Authorization: string;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
    }
}

export class Websockets {
    protected readonly _options: Websockets.Options;

    constructor(_options: Websockets.Options) {
        this._options = _options;
    }

    public async connect(args: Websockets.ConnectArgs): Promise<WebsocketsSocket> {
        const { version, headers, debug, reconnectAttempts } = args;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (version != null) {
            _queryParams.version = version;
        }

        const _headers: Record<string, unknown> = mergeHeaders(
            mergeOnlyDefinedHeaders({ Authorization: args.Authorization }),
            headers,
        );
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MavenAGIEnvironment.Production,
                "/v1/realtime/conversations",
            ),
            protocols: [],
            queryParameters: _queryParams,
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new WebsocketsSocket({ socket });
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const appId = (await core.Supplier.get(this._options.appId)) ?? process?.env.MAVENAGI_APP_ID;
        const appSecret = (await core.Supplier.get(this._options.appSecret)) ?? process?.env.MAVENAGI_APP_SECRET;
        if (appId != null && appSecret != null) {
            return core.BasicAuth.toAuthorizationHeader({
                username: appId,
                password: appSecret,
            });
        }

        return undefined;
    }
}
